@import 'variables';

.third-screen {
    @media screen and (max-device-width: 1480px) {
        overflow-x: scroll;
    }
    display: flex;
    .order-item {
        width: 33.3%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 160px 80px 50px;
        &:nth-child(1) {
            background: #6b6b6b1f;
        }
        &:nth-child(2) {
            background: #c1c1c11f;
        }
        &:nth-child(3) {
            background: #c3c3c338;
        }
        .order-item__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            h2 {
                margin-bottom: 90px;
                z-index: 40;
            }
            img {
                position: absolute;
                z-index: 40;
            }
        }
        .order-item__list {
            margin-bottom: 140px;
            z-index: 40;
            position: relative;
            .order-item__list_title {
                font-size: 18px;
                font-weight: 600;
            }
            li {
                color: $main-color;
                font-size: 14px;
                font-weight: normal;
                display: flex;
                padding: 5px 0;
                align-items: center;
                line-height: 43px;
                .order-item__list_item {
                    padding: 0 7.5px;
                }
                .order-item__list_item.flag {
                    width: 25px;
                    height: auto;
                }
                .order-item__list_item.union {
                    width: 13px;
                    height: auto;
                }
            }
        }
        .order-item__button {
            padding: 22px 75px;
            color: $black-color;
            background-color: $accent-color;
            font-size: 20px;
            font-weight: 600;
            &:hover {
                background-color: $accent-hovered-color;
            }
        }
    }
}
.radial-gradient__1 {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    background-image: radial-gradient(circle closest-side at 200px 200px, #ff0000, #6b6b6b00);
    z-index: 20;
    top: -50%;
}
.radial-gradient__2 {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    background-image: radial-gradient(circle closest-side at 200px 200px, #ff0000, #c1c1c100);
    z-index: 20;
    top: -50%;
}
.radial-gradient__3 {
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    background-image: radial-gradient(circle closest-side at 200px 200px, #ff0000, #c3c3c300);
    z-index: 20;
    top: -50%;
}
.screen-checker {
    position: absolute;
    bottom: 0;
    height: 300px;
}
