$main-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;

$main-color: #ffffff;
$accent-color: #ffb100;
$accent-hovered-color: #FFD600;
$black-color: #000000;

$grey-color: #a5a4a1;
$light-grey-color:#c4c4c41f;
