@import "variables";

.characteristic-tab {
    display: flex;

    padding: 0 110px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .characteristic-tab__item {
        padding-right: 65px;
        max-width: 300px;
        min-width: 300px;
        width: 100%;
        .characteristic-tab__item_title {
            margin-bottom: 35px;
            h5 {
                font-family: $secondary-font;
                color: $main-color;
                font-size: 20px;
            }
        }
    }
    .characteristic-tab__item_list {
        .list-item {
            display: flex;
            justify-content: space-between;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 300;
            padding: 15px 0;
            position: relative;
            .list-item__left {
                text-transform: lowercase;
                color: $grey-color;
            }
            .list-item__right {
                color: $main-color;
                white-space: nowrap;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $light-grey-color;
            }
        }
    }

}
